PORT=3008

CDA_NAME="Control Autos De Girardot"
CDA_SHORT_NAME="Control Autos Girardot"
CDA_NIT="900.000.000-0"
CDA_CITY="Girardot, Cundinamarca"
CDA_ADDRESS="Dirección en Girardot"
CDA_PHONE="+57 300 000 0000"

CDA_MAPS_URL="https://maps.google.com"
CDA_WAZE_URL="https://waze.com/ul"

CDA_ADVISOR_PHONE="573000000000"
CDA_ADVISOR_URL="https://wa.me/573000000000"

# Google Calendar
GOOGLE_CALENDAR_ID="primary"
GOOGLE_CLIENT_EMAIL=""
GOOGLE_PRIVATE_KEY=""
